.body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body > div {
    margin:10px;
}

.data-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-label {
    color:blue;
    padding: 5px;
    border: 5px solid #ccc;
    border-radius: 10px;
}

.data-label:hover {
    cursor: pointer;
}

.data-label-uploaded {
    background-color:red;
}

.data-input {
    display: none;
}

.data-submit {
    margin-top: 10px;
    border: 5px solid #ccc;
    border-radius: 10px;
}

.data-submit:hover {
    cursor: pointer;
}

.data-submit:hover {
    background-color:red;
}

.data-table {
    border: 2px solid black;
}

.data-table-header {
    border: 2px solid black;
}

.data-table-data {
    border-left: 2px solid black;
    text-align:center;
    /*border-right: 2px solid black;*/
}